{% extends 'base.html.twig' %}

{% block title %}Processed Data{% endblock %}

{% block body %}
    

    <h1>Processed Data</h1>
    <h2>formulaire</h1>
    {# Render the Facture form #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    h2>Données sauvegardées :</h2>
    <p>Contrat : {{ saved_facture.getContrat() }}</p>
    <p>Client : {{ saved_facture.getClient() }}</p>
    {% if processed_data %}
        {% for key, value in processed_data %}
            <p><strong>{{ key|capitalize }}:</strong> {{ value }}</p>
        {% endfor %}
    {% else %}
        <p>No processed data available.</p>
    {% endif %}
{% endblock %}
