{% extends 'base.html.twig' %}

{% block title %}Processed Data{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Processed Data</h1>

        {% if form is defined %}
            <h2>Formulaire</h2>
            {{ form_start(form, {'attr': {'action': path('save_facture')}}) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            {{ dump(form) }}
            {{ form_end(form) }}
        {% endif %}

        {# Afficher le résultat après la soumission du formulaire #}
        {% if confirmed is defined and confirmed %}
            <div style="margin: 20px 0;">
                <h2>Resultat</h2>
                <p>Le formulaire a été soumis avec succès!</p>
                {% if saved_facture.getFournisseur() is not null %}
                    <p>Fournisseur : {{ saved_facture.getFournisseur().getNom() }}</p>
                {% endif %}
                <p>Nom du Client Acheteur : {{ saved_facture.getNomClientAcheteur() }}</p>
                <p>Adresse du Client Acheteur : {{ saved_facture.getAdresseClientAcheteur() }}</p>
                <p>Téléphone du Client Acheteur : {{ saved_facture.getTelephoneClientAcheteur() }}</p>
                <p>Numéro de Facture : {{ saved_facture.getNumeroFacture() }}</p>
                <p>Année de Facturation : {{ saved_facture.getAnneeFacturation() }}</p>
                <p>TVA : {{ saved_facture.getTva() }}</p>
                <p>Sous-Total : {{ saved_facture.getSousTotal() }}</p>
                <p>Total : {{ saved_facture.getTotal() }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
